#root {
  display: flex;
  flex-flow: column wrap;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2f9331;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

p,
ul,
li,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  color: #8bcf21;
  text-align: center;
}
h2 {
  text-align: center;
}

button {
  width: 180px;
  height: 40px;
  background-color: #477385;
  border-radius: 8px;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #83d2e4;
}

.badResult {
  margin: auto;
}

.buttonSearch {
  position: absolute;
  top: 0px;
  width: 40px;
  height: px;
  border: none;
  background: #8bcf21;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: 0.4s;
}

.buttonSearch:hover {
  background-color: #477385;
}

.cardWrapper {
  width: 200px;
  height: 400px;
  gap: 20px;
  align-items: center;
  outline: 3px solid #8bcf21;
  border-radius: 5px;
  background-color: rgba(139, 207, 33, 0.5);
  margin: 0 auto 30px;
}
.cardWrapper:hover {
  cursor: pointer;
  background-color: #8bcf21;
}

.cardImg {
  width: 200px;
  border-radius: 5px;
  background-size: cover;
}

.cardList {
  list-style-type: none;
  text-align: left;
  padding: 0 1rem;
}

.cardTitle {
  padding: 0 1rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBlock {
  width: 50%;
}

.mainBlock {
  position: relative;
}
.details {
  width: 300px;
  position: sticky;
  top: 20px;
  right: 20px;
}

.detailedImg {
  width: 300px;
  border-radius: 5px;
  background-size: cover;
}

.detailedCardWrap {
  width: 300px;
  gap: 20px;
  align-items: center;
  outline: 3px solid #477385;
  border-radius: 5px;
  background-color: #e5d29f;
  padding-bottom: 30px;
}

.h {
  color: #3d373c;
  color: #2f9331;
  color: #477385;
  color: #926f44;
  color: #8bcf21;
  color: #c19978;
  color: #83d2e4;
  color: #e5d29f;
  color: #e7e0db;
}

.errorBlock {
  margin: auto;
  align-items: center;
}

.errorMessage {
  margin: 2rem;
}

.flexColumn {
  display: flex;
  flex-flow: column wrap;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 1rem auto;
}

.form {
  position: relative;
  width: 280px;
}

.header {
  margin-bottom: 30px;
}

.inputSearch {
  height: 40px;
  padding: 0px 12px;
  cursor: pointer;
  background: #e7e0db;
  border-radius: 10px 0 0 10px;
  outline: none;
  transition: all 0.4s ease-in-out;
  border: 3px solid #8bcf21;
  position: relative;
  color: rgb(59, 98, 163);
  font-weight: 500;
  font-size: 1rem;
}

.inputSearch:focus {
  border-color: #477385;
}

.iconSearch {
  width: 40px;
  height: 40px;
  background-image: url(././assets/iconSearch.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.4s;
}
